@import url(https://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}



body{
    background-color: lightblue;
    }

code {
        font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
        color: #ffffff;
        border: 1px solid #000;
        background-color: rgb(0, 0, 0);
        padding: 0px 3px;
        display: inline-block;
        margin: 0px;
      }
      
      